@model Test2.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Employee Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emp_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Emp_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
